!!! 5
html
	head
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel='stylesheet' href='/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/css/bootstrap-responsive.min.css'>
		!=css('main')
		!=js('bootstrap.min')
		!=js('knockout-2.1.0')
	body
		mixin feedlist(feeds)
			- if(feeds.length < 5)
				each feed in feeds
					li
						a(href="#{feed.link}",target="_blank")!= feed.title
			- else
				- for(var i=0; i<10; i++)
					li
						a(href="#{feeds[i].link}",target="_blank")!= feeds[i].title.substring(0,100)+(feeds[i].title.length>100?'&hellip;':'')

		div.container-fluid
			div.row-fluid
				div.span3
					h3
						a(href="http://news.ycombinator.com") Hacker News
					ul.unstyled
						mixin feedlist(feeds.hn)
				div.span3
					h3 Reddit
					ul.unstyled
						mixin feedlist(feeds.reddit)
				div.span3
					h3 Digg
					ul.unstyled
						mixin feedlist(feeds.digg)
				div.span3
					h3 9gag
					ul.unstyled
						mixin feedlist(feeds.gag)
			div.row-fluid
				div.span3
					h3 NPR
					ul.unstyled
						mixin feedlist(feeds.nprhome)
				div.span3
					h3 Huffington Post
					ul.unstyled
						mixin feedlist(feeds.huffington)
				div.span3
					h3 New York Times
					ul.unstyled
						mixin feedlist(feeds.nyt)